// How 'bout try not to use PubCSS at all and write the entire damn thing yourself.
/*

// Import settings
@import "./settings/gjsm.scss";

// Import PubCSS
@import "../pubcss/src/_manifest.scss";

// Custom style overrides
*/

@page {
	size: A4;
	margin: 3.5cm 2.5cm 3cm 3.5cm;
	@bottom {
		content: counter(page);
		margin-left: -1cm;
	}
	@footnote {
		border-top: solid 1pt black;
		padding-top: 3pt;
		margin-top: 7pt;
	}
}

.fn, cite {
	float: footnote;
	font-size: 11pt;
	text-align: left;
	line-height: 1;
	footnote-style-position: inside;
	break-inside: avoid;
}
cite + cite::footnote-call {
	content: ", " counter(footnote);
	font-size: smaller;
	vertical-align: super;
}
q + cite::footnote-call {
	content: counter(footnote);
	font-size: smaller;
	vertical-align: super;
	position: relative;
	left: 2px;
}
*::footnote-marker {
	content: counter(footnote);
	vertical-align: top;
	font-size: 0.5em;
	margin-right: 3px;
	padding-left: 2px;
}

body {
	font-family: "Times New Roman", serif;
	font-size: 12pt;
	line-height: 1.5;
	text-align: justify;
}


// Heading numbers:
body {
	counter-reset: h1c h2c h3c;
}
h1 {
	counter-reset: h2c h3c;
	counter-increment: h1c;
	&:before {
		content: counter(h1c) ".\00a0";
	}
}
h2 {
	counter-reset: h3c;
	counter-increment: h2c;
	&:before {
		content: counter(h1c) "." counter(h2c) ".\00a0";
	}
}
h3 {
	counter-increment: h3c;
	&:before {
		content: counter(h1c) "." counter(h2c) "." counter(h3c) ".\00a0";
	}
}
h1, h2, h3 {
	&.nc {
		counter-increment: none;
		&:before {
			content: "";
		}
	}
}



p {
	margin: 0 0 6pt 0;
	break-inside: avoid;
	prince-footnote-policy: keep-with-line;
}

h1, h2, h3 {
	break-after: avoid;
	break-inside: avoid;
	font-weight: bold;
	line-height: 1;
}
h1 {
	break-before: page;
	margin: 0 0 6pt 0;
	font-size: 16pt;
}
h2 {
	margin: 10pt 0 6pt 0;
	font-size: 14pt;
}
h3 {
	margin: 10pt 0 6pt 0;
	font-size: 12pt;
}

.keywords {
	margin: 40pt 0 6pt 0;
	font-size: 14pt;
	font-weight: bold;
}
q {
	font-style: italic;
	&:before {
		content: "„";
	}
	&:after {
		content: "“";
	}
}

@page title-page {
	@bottom {
		content: none;
	}
}
#title-page {
	page: title-page;
	.school {
		font-size: 20pt;
		text-align: center;
	}
	.spacetime {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		text-align: center;
		font-size: 16pt;
	}
	.title {
		font-weight: bold;
		text-align: center;
		font-size: 24pt;
		padding-top: 7.06cm;
	}
	.subtitle {
		text-align: center;
		font-size: 18pt;
		padding-top: 0.71cm;
	}
	.author {
		font-size: 18pt;
	}
	table {
		font-size: 16pt;
		width: 100%;
		padding-top: 5.29cm;
		table-layout: fixed;
		td {
			padding: 0 2.5mm 2.1mm;
		}
		tr {
			td:first-child {
				text-align: right;
			}
		}
	}
}

@page declaration {

	@bottom {
		content: none;
	}
}

#declaration {
	page: declaration;
	line-height: 1;
	p:first-child {
		padding-bottom: 6.4mm + 2.1mm;
	}
	.signature {
		float: right;
	}
	position: absolute;
	bottom: 0;
}

@page toc {

	@bottom {
		content: none;
	}
}
#toc {
	page: toc;
	line-height: 1;
	.toc-element {
		.title {

		}
		.page {
			float: right;
		}
		border-bottom: solid 0.25pt black;
	}
}

figure {
	counter-increment: figure;
	figcaption {
		&:before {
			content: "Obr.\00a0" counter(figure) ":\00a0";
		}
	}
}
a[href].fig {
	color: black;
	text-decoration: none;
	&:before {
		content: "Obr.\00a0" target-counter(attr(href), figure);
	}
}
a[href].sec1 {
	color: black;
	text-decoration: none;
	&:before {
		content: target-counter(attr(href), h1c) ".";
	}
}
a[href].sec2 {
	color: black;
	text-decoration: none;
	&:before {
		content: target-counter(attr(href), h1c) "." target-counter(attr(href), h2c) ".";
	}
}
a[href].sec3 {
	color: black;
	text-decoration: none;
	&:before {
		content: target-counter(attr(href), h1c) "." target-counter(attr(href), h2c) "." target-counter(attr(href), h3c) ".";
	}
}

a[href].toc-link {
	color: black;
	text-underline: none;
	width: 100%;
	display: inline-block;
	padding: 0;
	margin: 3pt 0 0 0 ;
	line-height: 1;
	&:before {
		content: target-content(attr(href));
	}
	&.H1 {
		&:before {
			content: target-counter(attr(href), h1c) ".\00a0" target-content(attr(href));
		}
	}
	&.H2 {
		&:before {
			content: target-counter(attr(href), h1c) "." target-counter(attr(href), h2c) ".\00a0" target-content(attr(href));
		}
	}
	&.H3 {
		&:before {
			content: target-counter(attr(href), h1c) "." target-counter(attr(href), h2c) "." target-counter(attr(href), h3c) ".\00a0" target-content(attr(href));
		}
	}
	&:after {
		content: leader(".") target-counter(attr(href), page);
	}
}

cite {
	font-style: normal;
}

figure {
	img {
		width: 100%;
		margin: 0;
		padding: 0;
	}
	margin-top: 20pt;
	break-inside: avoid;
}

ul {
	margin-bottom: 0.75em;
	margin-top: -0.25em;
}
@page no-number {

	@bottom {
		content: none;
	}
}
.no-number {
	page: no-number;
}
#literature {
	p {
		text-align: left;
		line-height: 1;
		margin-bottom: 6pt;

	}
	.pr {
		display: none;
	}
}
ul {
	break-inside: avoid;
	break-before: avoid;
}
