.reveal {
	font-family: "Source Serif Pro", serif;
	h1, h2, h3, h4, h5, h6 {
		font-family: "Source Serif Pro", serif;
	}
}
body {
	background-color: white !important;
}


.title-page {
	.bottom {
		position: absolute;
		bottom: 0;
	}
}

.image-source {
	display: none;
}
#image-source {
	position: fixed;
	bottom: 0.5rem;
	right: 0.5rem;
	z-index: 100;
	font-size: smaller
}

.columns {
	display: flex;
	align-items: center;
	.column {
		flex: 1;
	}

}


.has-white-text {
	body {
		background-color: #2b2b2b !important;
		transition-duration: 0.4s;
	}
	h1, h2, h3, h4, h5, h6, span, li, p {
		color: white !important;
	}
	.controls-arrow, #image-source {
		color: white !important;
	}
	color: white !important;
}
ul.is-large {
	font-size: larger;
	li {
		line-height: 2;
	}
}
.reveal section img {
	border: none;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
