.reveal {
  font-family: "Source Serif Pro", serif; }
  .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    font-family: "Source Serif Pro", serif; }

body {
  background-color: white !important; }

.title-page .bottom {
  position: absolute;
  bottom: 0; }

.image-source {
  display: none; }

#image-source {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  z-index: 100;
  font-size: smaller; }

.columns {
  display: flex;
  align-items: center; }
  .columns .column {
    flex: 1; }

.has-white-text {
  color: white !important; }
  .has-white-text body {
    background-color: #2b2b2b !important;
    transition-duration: 0.4s; }
  .has-white-text h1, .has-white-text h2, .has-white-text h3, .has-white-text h4, .has-white-text h5, .has-white-text h6, .has-white-text span, .has-white-text li, .has-white-text p {
    color: white !important; }
  .has-white-text .controls-arrow, .has-white-text #image-source {
    color: white !important; }

ul.is-large {
  font-size: larger; }
  ul.is-large li {
    line-height: 2; }

.reveal section img {
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); }
